/* Global CSS */

body {
    /* background: linear-gradient(to right,#32C487 ,#6C337D ); */
    height: 100%;
}

/* Homepage CSS */

#mainpageImage {
    width: 100%;
    display: block;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
}

/* Calendar CSS */

#calendar {
    max-width: 900px;
    margin: 40px auto;
}